<div *ngIf="chartOptions && !isLoadingChart && chartOptions.series.length" [@flyInOut] class="bg-white rounded-xl" id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [tooltip]="chartOptions.tooltip"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
  <div class="bg-white rounded-xl text-center my-5 p-10">
    {{getTextFromKey("error")}} {{dayString}}
  </div>
<section *ngIf="isLoadingChart" class="mt-10">
  <div class="flex flex-col justify-center items-center text-lg text-white text-base font-semibold">

    <div
      class="
              animate-spin
              rounded-full
              h-20
              w-20
              border-t-2 border-b-2 border-white
              mb-3
              transition ease-in duration-200
            "
    ></div>
    Loading...
  </div>
</section>
