<!-- sidebar -->
<div class=" h-auto md:h-screen sidebar bg-primary_cwork text-blue-100 py-7 px-6">
  <!-- av -->
  <nav class="grid grid-cols-1 gap-5 w-auto md:grid-cols-1 2xl:w-60">
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("programs")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("monitoring")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("change state")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("machine calendar")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("informations")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("add")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("delete")}}</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">{{getTextFromKey("properties")}}</button>
  </nav>
</div>


