<app-navbar></app-navbar>
<section class="bg-primary_cwork h-auto pb-1">
  <!-- SidenavSection-->
  <div id="sideNav" class=" z-50 transform bg-primary_cwork transition md:flex" [ngClass]="{'md:absolute md:-translate-x-44 lg:-translate-x-48 xl:-translate-x-48 2xl:-translate-x-72 hover:-translate-x-0': isSideNavPin === false}">
    <!-- Sidenav -->
    <div>
      <app-sidenavbar></app-sidenavbar>
    </div>
    <!-- Sidenav brand-->
    <div class="hidden md:block translate-x-10 firefox ml-2"  >
      <img src="assets/images/double_arrow.svg" class="cursor-pointer w-6 lg:-translate-x-40 " [ngClass]="{' rotateArrow ': isSideNavPin === false}"> <!-- Rotate arrow when hover sidenav is not pinned -->
    </div>
  </div>
  <div>
    <!-- Main Section-->

    <div>
      <div>
        <mat-slide-toggle [(ngModel)]='isShowKpi'  class="p-2 mx-2 relative left-10 top-5 text-white">Afficher KPI</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]='isShowTimeline'  class="p-2 mx-2 relative left-10 top-5 text-white">Afficher Timeline</mat-slide-toggle>
        <!--        <button class="p-2 mx-2 relative left-10 top-5" mat-raised-button (click)="openDateViewDialog()">Choix date</button>-->
        <!--        <mat-form-field class="p-2 mx-2 relative left-10 top-5" appearance="fill">-->
        <!--          <mat-label class="text-white">Enter a date range</mat-label>-->
        <!--          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">-->
        <!--            <input matStartDate formControlName="start" placeholder="Start date">-->
        <!--            <input matEndDate formControlName="end" placeholder="End date" (dateChange)="updateTimelines()">-->
        <!--          </mat-date-range-input>-->
        <!--          <mat-datepicker-toggle class="text-white" matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--          <mat-date-range-picker #picker></mat-date-range-picker>-->

        <!--          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
        <!--          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
        <!--        </mat-form-field>-->

        <input class="p-2 mx-2 relative left-10 top-5 text-black" type="text"
               ngxDaterangepickerMd
               [showCustomRangeLabel]="true"
               [alwaysShowCalendars]="true"
               [(ngModel)]="selected"
               [ranges]="ranges"
               [linkedCalendars]="true"
               [showClearButton]="true"
               [singleDatePicker]="false"
               (ngModelChange)="onUpdateDateRangePicker()"
               placeholder="Choix date"/>

      </div>
      <div *ngIf="isShowKpi" [@slideIn] class="mt-10 row container-fluid"  id="kpiToggle" >
        <app-kpibloc></app-kpibloc>
      </div>
      <div *ngIf="timelineData.length > 0 && isShowTimeline && range.value.end != null" [@flyInOut] class="mt-10 mx-3"  id="timelineToggle" >
        <section class="flex overflow-y-scroll">
          <div class="w-11/12">
            <app-timeline-line *ngFor="let day of daysList" [day]="day.getTime()" [stateData]="stateData" [timelineData]="timelineData"></app-timeline-line>
          </div>
          <div class="w-1/12 ml-12 h-1/2 fixed inset-y-1/4 right-0 px-8">
            <div class="bg-primary_cwork text-blue-100">
              <!-- av -->
              <nav>
                <button class="mb-4 transform rotate-90 h-20 w-20 bg-white border-2 border-gray-600 text-indigo-400 text-2xl font-bold rounded-lg"><<</button>
                <button class="mb-4 transform rotate-90 h-20 w-20 bg-white border-2 border-gray-600 text-indigo-400 text-2xl font-bold rounded-lg"><</button>
                <button class="mt-20 transform rotate-90 h-20 w-20 bg-white border-2 border-gray-600 text-indigo-400 text-2xl font-bold rounded-lg">> </button>
                <button class="mt-4 transform rotate-90 h-20 w-20 bg-white border-2 border-gray-600 text-indigo-400 text-2xl font-bold rounded-lg">>> </button>
              </nav>
            </div>
          </div>
        </section>
        <app-timelinenavigation [stateData]="stateData" [timelineData]="timelineData" *ngIf="hasLoaded && isShowTimeline && stateData.length > 0 && timelineData.length > 0" class="flex justify-center mt-1"></app-timelinenavigation>
      </div>
    </div>
  </div>



</section>

