#sideNav:hover .rotateArrow {
  transform: rotate(180deg);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.firefox{
  -moz-transform: translate(40%);
}

::ng-deep.mat-select-placeholder {
  color: white;
}
