#sideNav:hover .rotateArrow {
  transform: rotate(180deg);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.firefox{
  -moz-transform: translate(40%);
}
::ng-deep.mat-select-placeholder {
  color: white;
}

html,body{
  background-color: #324B5D;
}
section::-webkit-scrollbar {
  display: none;
}
/* firefox scrollbar */
section {
  scrollbar-width: none;
}

.timelineHeight{
 height: calc(60vh);
}

::ng-deep .mat-select-value {
  color: white;
}
