<app-navbar></app-navbar>
<section class="bg-primary_cwork h-auto pb-1">
  <!-- SidenavSection-->
  <div id="sideNav" class=" z-50 transform bg-primary_cwork transition md:flex" [ngClass]="{'md:absolute md:-translate-x-44 lg:-translate-x-48 xl:-translate-x-48 2xl:-translate-x-72 hover:-translate-x-0': isSideNavPin === false}">
    <!-- Sidenav -->
    <div>
      <app-sidenavbar></app-sidenavbar>
    </div>
    <!-- Sidenav brand-->
    <div class="hidden md:block translate-x-10 firefox ml-2"  >
      <img src="assets/images/double_arrow.svg" class="cursor-pointer w-6 lg:-translate-x-40 " [ngClass]="{' rotateArrow ': isSideNavPin === false}"> <!-- Rotate arrow when hover sidenav is not pinned -->
    </div>
  </div>
  <div>
    <!-- Main Section-->
    <div>
      <div>
        <mat-slide-toggle [(ngModel)]='isShowKpi'  class="p-2 mx-2 relative left-10 top-5 text-white">{{getTextFromKey('display')}} KPI</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]='isShowTimeline'  class="p-2 mx-2 relative left-10 top-5 text-white">{{getTextFromKey('display')}}<br/>{{getTextFromKey('Timeline')}}</mat-slide-toggle>
        <mat-form-field class="p-2 mx-2 relative left-10 top-5 text-white" appearance="fill">
          <mat-select class="text-white" placeholder="Portée date">
            <mat-option *ngFor="let dateRangeItem of dateRange; let index = index" [value]="dateRangeItem" (click)="onRangeUpdate(index)">{{dateRangeItem}}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="selectedDateInterval !== 4; else customRange">
          <preset-date-selector [interval]="selectedDateInterval" [dayList]="daysList" (timelineUpdated)="updateDays($event)"></preset-date-selector>
        </ng-container>
        <ng-template #customRange>
          <custom-date-selector [dayList]="daysList" (timelineUpdated)="updateDays($event)"></custom-date-selector>
        </ng-template>
      </div>
      <div *ngIf="isShowKpi" [@slideIn] class="mt-10 row container-fluid"  id="kpiToggle" >
        <app-kpibloc></app-kpibloc>
      </div>
      <div *ngIf="isShowTimeline && end != null" [@flyInOut] class="mt-10 mx-10"  id="timelineToggle" >
        <section class="flex overflow-y-scroll timelineHeight">
          <div *ngIf="hasLoaded && isShowTimeline && stateData.length > 0 && timelineData.length > 0" class="w-11/12">
            <app-timeline-line *ngFor="let day of daysList" [day]="day.getTime()" [stateData]="stateData" [timelineData]="timelineData"></app-timeline-line>
          </div>
          <div *ngIf="!hasLoaded" class="text-center">
            <span class="mx-10 text-white">Loading...</span>
          </div>
          <div class="w-1/12 ml-12 h-1/2 fixed inset-y-1/4 right-5 px-8">
            <div class="text-blue-100">
              <!-- av -->
              <nav>
                <button (click)="moveFastBackwards()" class="hover:text-white mb-4 h-20 w-20 text-indigo-300 text-9xl">
                  <mat-icon [inline]="true">keyboard_double_arrow_up</mat-icon>
                </button>
                <button (click)="moveBackWards()" class="hover:text-white mb-4 h-20 w-20 text-indigo-300 text-9xl">
                  <mat-icon [inline]="true">keyboard_arrow_up</mat-icon>
                </button>
                <button (click)="moveForward()" class="hover:text-white mb-4 h-20 w-20 text-indigo-300 text-9xl">
                  <mat-icon [inline]="true">keyboard_arrow_down</mat-icon>
                </button>
                <button (click)="moveFastForward()" class="hover:text-white mb-4 h-20 w-20 text-indigo-300 text-9xl">
                  <mat-icon [inline]="true">keyboard_double_arrow_down</mat-icon>
                </button>
              </nav>
            </div>
          </div>
        </section>
        <app-timelinenavigation [daysList]="daysList" [stateData]="stateData" [timelineData]="timelineData" *ngIf="hasLoaded && isShowTimeline && stateData.length > 0 && timelineData.length > 0" class="flex justify-center mt-1"></app-timelinenavigation>
      </div>
    </div>
  </div>
</section>

