<section>
  <!-- Circle progressbar -->
  <div class="flex justify-center">
    <app-kpi-circular name="TRE" [value]="16.9"></app-kpi-circular>
    <app-kpi-circular name="TRG" [value]="47.2"></app-kpi-circular>
    <app-kpi-circular name="TRS" [value]="49.7"></app-kpi-circular>
    <app-kpi-circular name="Disponibilté" [value]="54.4"></app-kpi-circular>
    <app-kpi-circular name="Performance" [value]="104.6"></app-kpi-circular>
    <app-kpi-circular name="Qualité" [value]="87.2"></app-kpi-circular>
  </div>
  <!--Standard progressbar -->
  <div class="flex justify-center">
    <app-kpi-progressbar name="Taux stratégique d'engagement" [value]="35.7"></app-kpi-progressbar>
    <app-kpi-progressbar name="Taux de charge" [value]="95"></app-kpi-progressbar>
    <app-kpi-progressbar name="Taux de réquisiton" [value]="33.9"></app-kpi-progressbar>
    <app-kpi-progressbar name="Taux de disponibilité matérielle" [value]="91.9"></app-kpi-progressbar>
  </div>
  <!-- KPI Indicator -->
  <div class="flex justify-center">
    <div class="my-4 standardTime">
      <app-kpi-indicator name="Temps total" value="168:00:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps d'ouverture" value="60:00:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps requis" value="57:00:00"></app-kpi-indicator>
    </div>
    <div class="my-4 workTime">
      <app-kpi-indicator name="Temps de fonctionnement" value="31:00:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps net de fonctionnement" value="32:30:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps utile de fonctionnement" value="28:20:00"></app-kpi-indicator>
    </div>
    <div class="my-4 breakdownTime">
      <app-kpi-indicator name="Temps de panne" value="05:00:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps moyen entre les pannes" value="11:24:00"></app-kpi-indicator>
      <app-kpi-indicator name="Temps moyen de dépannage" value="01:00:00"></app-kpi-indicator>
    </div>
  </div>
</section>
