<section class="w-11/12 bg-gray-200 text-xm flex justify-between rounded-xl border-1 border-white">
  <div class="w-2/5 flex justify-around items-center">
    <div class="w-3/12 text-center">
      <div>
        <img src="assets/images/play.svg">
      </div>
      <div>
        <p>21/10/21</p>
        <p>14:00:00</p>
      </div>
    </div>
    <div class="w-6/12 text-white inline-flex justify-between items-center border-r-1 border-l-1 border-gray-400">
      <a href="#"><img src="assets/images/arrow_back.svg"></a>
      <p class="bg-red-500 rounded-xl px-10 py-4">Production</p>
      <a href="#"><img src="assets/images/arrow_forward.svg"></a>
    </div>
    <div class="w-3/12 text-center">
      <div>
        <img src="assets/images/stop.svg">
      </div>
      <div>
        <p>21/10/21</p>
        <p>17:00:00</p>
      </div>
    </div>
  </div>
  <div class="w-3/5 flex">
    <div class="w-1/6 text-center">
        <img src="assets/images/timer.svg">
        <p>03h 00min 00s</p>
    </div>
    <div class="w-5/6 flex justify-end items-center">
      <a href="#" class="px-5"><img src="assets/images/edit.svg">Modifier</a>
      <a href="#" class="px-5"><img src="assets/images/delete.svg">Supprimer</a>
    </div>
  </div>
</section>
