<div class="m-10">
  <h2>{{ name }}</h2>
  <svg width="200" height="200">
    <circle stroke="#efefef" stroke-width="4" fill="none" r="40" cx="50" cy="50" stroke-dasharray="100" stroke-dashoffset="-46"/>
    <circle stroke="#00acc1" stroke-width="4" style.stroke-dasharray="{{value}}, 100" stroke-dashoffset="0" stroke-linecap="round" fill="none" r="40" cx="50" cy="50" />
    <g>
      <text x="50" y="50" alignment-baseline="central" text-anchor="middle" font-size="15">{{value}}%</text>
    </g>
  </svg>
</div>
