<app-navbar></app-navbar>
<section class="bg-primary_cwork min-h-screen">
  <div>
    <button (click)="toggleShowKpi()" [ngClass]="{'text-white border-white': isShowKpi === false, 'text-black border-black': isShowKpi === true}" type="checkbox" class="text-xs rounded hover:bg-blue-500 border-2 p-2 mx-2 relative left-10 top-5">
      Display KPI
    </button>
    <button (click)="toggleShowTimeline()" [ngClass]="{'text-white border-white': isShowTimeline === true, 'text-black border-black': isShowTimeline === false}" type="checkbox" class="text-xs rounded border-2 hover:bg-blue-500 p-2 mx-2 relative left-10 top-5">
      Display Timeline
    </button>
  </div>
  <div *ngIf="isShowKpi" class="row container-fluid"  id="kpiToggle" >
    <app-kpibloc></app-kpibloc>
  </div>
  <div *ngIf="isShowTimeline" class="row container-fluid"  id="timelineToggle" >
    <app-timeline-line></app-timeline-line>
  </div>
</section>
