<section class="bg-primary_cwork min-h-screen">
  <app-kpibloc></app-kpibloc>
  <app-timeline-line day="Mon" month="Nov" dayNumber="1" year="21"></app-timeline-line>
  <app-timeline-line day="Tue" month="Nov" dayNumber="2" year="21"></app-timeline-line>
  <app-timeline-line day="Wen" month="Nov" dayNumber="3" year="21"></app-timeline-line>
  <app-timeline-line day="Thu" month="Nov" dayNumber="4" year="21"></app-timeline-line>
  <app-timeline-line day="Fri" month="Nov" dayNumber="5" year="21"></app-timeline-line>
  <app-timeline-line day="Sat" month="Nov" dayNumber="6" year="21"></app-timeline-line>
  <app-timeline-line day="Sun" month="Nov" dayNumber="7" year="21"></app-timeline-line>
</section>
