<div class="mx-auto md:px-12 relative z-10 flex items-center py-4 " >
  <div class="w-full flex flex-col items-center relative z-10">
    <div class="flex flex-col w-full max-w-md px-10 py-8 bg-white rounded-lg shadow dark:bg-gray-800">
      <div class="self-center mb-6 text-xl font-light text-gray-600 dark:text-white">
        États des services WebCWORK

      </div>


      <div class="inline-flex items-center bg-gray-200 leading-none rounded-full p-2 shadow text-teal text-sm my-1">
        <span [ngClass]= "nestJSStatus === false ? 'bg-red-700' : 'bg-emerald-600'" class="inline-flex  text-white rounded-full h-6 px-3 justify-center items-center">
          <span *ngIf="nestJSStatus">En ligne</span><span *ngIf="!nestJSStatus">Hors ligne</span>
        </span>
        <span class="inline-flex px-2 text-gray-700">
          Service NestJS API
        </span>
      </div>

      <div class="inline-flex items-center bg-gray-200 leading-none rounded-full p-2 shadow text-teal text-sm my-1">
        <span [ngClass]= "JSONServerStatus === false ? 'bg-red-700' : 'bg-emerald-600'" class="inline-flex  text-white rounded-full h-6 px-3 justify-center items-center">
          <span *ngIf="JSONServerStatus">En ligne</span><span *ngIf="!JSONServerStatus">Hors ligne</span>
        </span>
        <span class="inline-flex px-2 text-gray-700">
          Service JSONServer
        </span>
      </div>

      <div class="inline-flex items-center bg-gray-200 leading-none rounded-full p-2 shadow text-teal text-sm my-1">
        <span [ngClass]= "CAPIStatus === false ? 'bg-red-700' : 'bg-emerald-600'" class="inline-flex  text-white rounded-full h-6 px-3 justify-center items-center">
          <span *ngIf="CAPIStatus">En ligne</span><span *ngIf="!CAPIStatus">Hors ligne</span>
        </span>
        <span class="inline-flex px-2 text-gray-700">
          Service CAPI
        </span>
      </div>
    </div>
  </div>
</div>
