
  <!-- sidebar -->
  <div class="fixed sidebar pb-80 bg-primary_cwork text-blue-100 py-7 px-6 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

    <!-- av -->
    <nav class="flex flex-col w-40 2xl:w-60">
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("programs")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("monitoring")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("change state")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("machine calendar")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("informations")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("add")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("delete")}}</button>
      <button href="#" class="border-2 border-white my-4 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">{{getTextFromKey("properties")}}</button>
    </nav>
  </div>

