<div class="w-2/12 min-h-screen md:flex">

  <!-- sidebar -->
  <div class="sidebar bg-primary_cwork text-blue-100 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">


    <!-- nav -->
    <nav>
      <button href="#" class=" border-2 border-white my-2 block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-white">Programmes</button>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Suivi</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Changer d'état</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Calendrier Machine</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Informations</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Ajouter</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Supprimer</a>
      <a href="#" class="border-2 border-white my-2  block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Propriétés</a>
    </nav>
  </div>

</div>
