<!-- sidebar -->
<div class="sidebar bg-primary_cwork text-blue-100 py-7 px-6">
  <!-- av -->
  <nav class="grid grid-cols-2 gap-5 w-full md:grid-cols-1 sm:w-40 2xl:w-60">
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Programmes</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Suivi</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Changer d'état</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Calendrier Machine</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Informations</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Ajouter</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Supprimer</button>
    <button href="#" class="sideNavButton hover:sideNavButton--hover">Propriétés</button>
  </nav>
</div>

