<footer *ngIf="selectedTop" class="bottom-0 w-11/12 bg-secondary_cwork text-xs flex justify-between rounded-xl border-1 border-primary_cwork py-3 text-sm" [@flyInOut]>
  <section class="flex justify-around items-center">
    <div class="w-2/12 text-center ml-10">
      <p><mat-icon>timelapse</mat-icon></p>
      <p>{{getFormatDuration(selectedTop.topdurationfield)}}</p>
    </div>
    <button *ngIf="'edit' | able: 'timeline'" (click)="goToPreviousTop()"><mat-icon class="mx-10 text-3xl">edit_note</mat-icon> <p>{{getTextFromKey('modify')}}</p></button>
    <div class="text-center">
      <div>
        <p><mat-icon>start</mat-icon></p>
        <p>{{getFormatDate(selectedTop.topstartdatefield)}}</p>
        <p>{{getFormatTime(selectedTop.topstartdatefield)}}</p>
      </div>
    </div>

  </section>
    <div class="w-1/12 text-black flex items-center justify-center">
      <button class="w-32 pr-3" (click)="goToPreviousTop()"><mat-icon class="text-5xl hover:text-blue-600">arrow_back_ios</mat-icon></button>
      <button (click)="focusOnTopDay()" class="rounded-xl px-1 py-5 text-xl" style="background-color:{{ this.stateData[selectedTop.topstatehandlefield].Color }}">{{this.stateData[selectedTop.topstatehandlefield].Name}}</button>
      <button class="w-32" (click)="goToNextTop()"><mat-icon class="text-5xl hover:text-blue-600">arrow_forward_ios</mat-icon></button>
    </div>
    <section class="flex gap-14">
        <div class="text-center pr-1">
          <div class="mt-6 ml-10">
            <p><mat-icon>keyboard_tab</mat-icon></p>
            <p>{{getFormatDate(selectedTop.topenddatefield)}}</p>
            <p>{{getFormatTime(selectedTop.topenddatefield)}}</p>
          </div>
        </div>
      <div class=" sm:w-1/5 flex">
      </div>
      <div class="flex mx-4 mr-44">
        <button (click)="goToPreviousTop()"><mat-icon class="mx-5 text-3xl">delete_forever</mat-icon> <p>{{getTextFromKey('suppression')}}</p></button>
      </div>
    </section>

</footer>
