<footer class="fixed bottom-0 w-7/12 bg-white text-xs sm:text-sm sm:flex justify-between rounded-xl border-1 border-white" [@flyInOut]>
  <div class="w-full sm:w-2/5 flex justify-around items-center">
    <div class="w-3/12 text-center">
      <div>
        <img src="assets/images/play.svg">
      </div>
      <div>
        <p>21/10/21</p>
        <p>14:00:00</p>
      </div>
    </div>
    <div class="w-6/12 text-white inline-flex justify-between items-center border-r-1 border-l-1 border-white">
      <a href="#"><img src="assets/images/arrow_back.svg"></a>
      <p class="bg-failure rounded-xl px-3 py-2 sm:px-4 sm:py-3 xl:px-10 xl:py-4">Failure</p>
      <a href="#"><img src="assets/images/arrow_forward.svg"></a>
    </div>
    <div class="w-3/12 text-center">
      <div>
        <img src="assets/images/stop.svg">
      </div>
      <div>
        <p>21/10/21</p>
        <p>17:00:00</p>
      </div>
    </div>
  </div>
  <div class="w-full sm:w-3/5 flex">
    <div class="w-3/6 sm:w-2/6 lg:w-1/6 text-center">
        <img src="assets/images/timer.svg">
        <p>03h 00min 00s</p>
    </div>
    <div class="w-5/6 flex justify-end items-center">
      <a href="#" class="px-2 sm:px-3 lg:px-5"><img src="assets/images/edit.svg">Modifier</a>
      <a href="#" class="px-2 sm:px-3 lg:px-5"><img src="assets/images/delete.svg">Supprimer</a>
    </div>
  </div>
</footer>
