<section class="min-h-screen">
  <app-navbar></app-navbar>
  <div class="md:flex">
    <app-sidenavbar></app-sidenavbar>
    <div class="bg-blue-100 w-10/12">
      <div class="grid grid-cols-4 gap-2">
        <app-cnc-dashboard name="Moriseki" status="work" dncStatus="green" prodStatus="gray"></app-cnc-dashboard>
        <app-cnc-dashboard name="Fannuc" status="breakdown" dncStatus="green" prodStatus="red"></app-cnc-dashboard>
        <app-cnc-dashboard name="iTNC530" status="work" dncStatus="green" prodStatus="green"></app-cnc-dashboard>
        <app-cnc-dashboard name="CITIZEN" status="notWork" dncStatus="green" prodStatus="red"></app-cnc-dashboard>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
