<footer class="fixed bg-blue-900 bottom-0 bg-primary_cwork dark:bg-gray-800 w-full -my-2 ">
  <div class=" min-h-full px-4 ">
    <ul class=" justify-between   min-w-full text-lg font-light flex  ">
      <li class="my-2 mb-5 "><a class="text-gray-400 hover:text-gray-800 dark:text-black dark:hover:text-white transition-colors duration-200" href="#">{{getTextFromKey("company")}} :SMCOM : CWORK</a></li>
      <li class="my-2"><a class="text-gray-400 hover:text-black dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">C:\CWORK\Dossiers de travail\DEMO\</a></li>
      <li class="my-2"><a class="text-gray-400 hover:text-black dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">{{getTextFromKey("update contract expired")}}</a></li>
    </ul>
  </div>
</footer>
